:root {
  --white: #fff;
  --primary-color: #178395;
  --secondary-color: #050c16;
  --header-height: 55px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 120rem;
}

/* Header */
.header {
  height: var(--header-height);
  background-color: #75757571;
  text-align: center;
  top: 0;
  position: sticky;
  z-index: 2;
}
.header .btn-menu {
  display: none;
}

.logo {
  height: 2.75rem;
  width: 12.75rem;
  padding: 0.3rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem;
  background-color: grey;
}

.header nav {
  /* padding: 1rem; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}
.header nav a {
  padding: 1rem;
  border-radius: 1.87rem;
}
.header nav a:hover {
  background-color: var(--primary-color);
}

/*Seccion Hero arranca*/
.hero-section {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #75757571;
  /* margin-bottom: 0.5rem; */
}

.hero-content {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4.5rem;
  color: #ffffff;
  margin-top: 8rem;
}

.blob {
  height: 17rem; /*17rem = 272px*/
  width: 14rem; /*14rem = 224px*/
}

.team {
  height: 24.19rem; /*24rem = 387px*/
  width: 47.125rem; /*47rem = 754px*/
}

.hero-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-parallax {
  height: 100vh;
  background-image: url("images/blob.png"), url("images/hero-team.png");
  background-position: left bottom, right bottom; /*simula hero-images*/
  background-size: 14rem 17rem, 47.125rem 24.19rem; /*dimensiones de ambas imagenes*/
  background-repeat: no-repeat; /*la imagen de fondo no se repite tipo mosaico*/
  background-attachment: fixed; /*fijo la imagen de fondo*/
}

/*Seccion Hero termina*/

/* marcador ayuda a posicionar la seccion con el desfasaje segun el navbar */
.marcador {
  position: relative;
  top: calc(-1 * var(--header-height) - 10px);
}

.acerca {
  /* margin-bottom: 0.5rem; */
  background-color: var(--secondary-color);
}

.contenido {
  display: flex;
}

.izquierda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  gap: 1.5rem;
  margin: 2rem 1rem 1rem 1rem;
  width: 50vw;
}

h2 {
  color: #ffffff;
  font-size: 2rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

p {
  color: var(--white);
  font-size: 1rem;
  width: 90%;
  font-weight: 500;
  line-height: 1.5rem;
}

.derecha {
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  overflow: hidden;
}

.imagen {
  height: 29.5rem;
  width: 44.5rem;
}

.servicios {
  /* margin-bottom: 0.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.empresa {
  width: 100%;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
}
.empresa article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.empresa article p {
  font-size: 2rem;
}

/* Clientes */
.clientes {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-color: #050c16;
  padding-bottom: 2rem;
}

.clientes h1 {

  padding: 90px;
  margin-top: 0px;
  color: var(--white);
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.clientes h2 {
  text-align: center;
  padding-top: 2rem;
}

.contenedor-testimonios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin:auto;
}
.testimonio {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  width: 144px;
  height: 144px;
  border-radius: 100px;
}
.codoacodo {
  background: url("images/logo-cac.png");
  background-repeat: no-repeat;
  background-size:cover ; 
  background-position-x: -310px;

}
.google {
  background: url("images/logo-google.png");
  background-position-x: -80px;
  background-position-y: -10px;
}
.github {
  background: url("images/logo-github.png");
  background-repeat: no-repeat;
  background-size:cover ; 
  background-position-y: -2px;
}
.testimonio-texto {
  padding: 1rem .5rem;
  min-height: 230px;
  color: var(--white);
  font-size: 1rem;
  width: 90%;
  font-weight: 500;
  line-height: 1.5rem;
}

.testimonio-compania {
  padding: 1rem .5rem;
  padding-bottom: 2rem;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
}
.testimonio-link {
  color:var(--primary-color);
  font-size: .6rem;
  padding-bottom: 1.0rem;
}
.testimonio-link:hover {
  color:red;
}
/* Servicios Realiza XXXXXXXXX */
.servicios {
  width: 100%;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
}
.servicios article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.servicios article p {
  font-size: 2rem;
}

/* FAQ Realiza Fernando */
.faq {
  width: 100%;
  min-height: 100vh;
  background-color: #050c16;
  color: var(--white);

}

.faq h1 {
  margin-top: 0px;
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
}
.contenedor-preguntas {
  padding-top: 1.5rem;

  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
}
.pregunta {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid #1a7ce6fd ;
}

.pregunta-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  /* padding-bottom: 1rem; */
  background-color: #0a498d;
}
.pregunta-header h1 {
  font-size: 1.2rem;
}
.pregunta-header button {
  padding: .4rem;
  background: transparent;
  border: transparent;
  cursor: pointer;
}
.pregunta-header button>svg {
  color: var(--white);
  height: 30px;
  width: 30px;
}
.pregunta-respuesta {
  display: none;
  padding: 1rem;
}

.respuesta-mostrar {
  display:inline
}
.lista-redes{
  padding: 1rem;
}
/* Contactos Realiza XXXXXXXXX */
.section-book {
  padding: 0;
  background-color: #fff;
}

.book {
  height: 36rem;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0.93rem 2.5rem rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0.99), rgba(247, 247, 247, 0.8)); 
}
  
.book__form {
  float: left;
  height: 100%;
  width: 40%;
  padding: 2.75rem; 
}

@media only screen and (max-width: 35.15em) {
  .book__form {
    padding: 2.75rem 6.25rem;
    width: 100%; 
  } 
}

@media only screen and (max-width: 23.43em) {
  .book__form {
    padding: 2.75rem 6.25rem;
    width: 100%; 
  } 
}

.book__picture {
  float: right;
  height: 100%;
  width: 60%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/hero-team.png);
  transition: all .5s; 
}
    
@media only screen and (max-width: 35.15em) {
  .book__picture {
    display: none; 
  } 
}
  
.book:hover .book__picture {
  filter: brightness(80%); 
  
}

.u-margin-bottom-medium {
  margin-bottom: 1.5rem; 
} 

.u-margin-bottom-small {
  margin-bottom: 1.56rem; 
}


.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #68c4d4, #55a3b1);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .15rem;
  transition: all .25s; 
}
  
@media only screen and (max-width: 35.15em) {
  .heading-secondary {
    font-size: 1.8rem; 
  } 
}

  
@media only screen and (max-width: 23.43em) {
  .heading-secondary {
    font-size: 1.6rem;
    letter-spacing: 0;
    padding: 0;
    margin-left: -2rem; 
  } 
}

  
.heading-secondary:hover {
  transform: skewx(-8deg) skewy(-0.9deg) scale(1.08);
  text-shadow: 0.5rem 0.1rem 0.2rem rgba(0, 0, 0, 0.09); 
}
    
@media only screen and (max-width: 23.43em) {
  .heading-secondary:hover {
    transform: skewx(-4deg) skewy(-0.45deg) scale(1.04);
  } 
}

.form__group:not(:last-child) {
  margin-bottom: 1.25rem; 
}

.form__input {
  font-family: inherit;
  font-size: .93rem;
  color: inherit;
  padding: 0.93rem 0.62rem;
  border-radius: 3px;
  background-color: rgba(119, 119, 119, 0.09);
  border: 0.25rem solid transparent;
  width: 100%;
  display: block;
  transition: all .4s; 
}

  
@media only screen and (max-width: 35.15em) {
  .form__input {
    width: 100%; 
  } 
}
  
.form__input:focus {
  outline: none;
  box-shadow: 0 0.62rem 1.25rem rgba(0, 0, 0, 0.09);
  border: 0.25rem solid #ff7730; 
}
  
.form__input:focus:invalid {
    border: 0.25rem solid #ff7730; 
}

.form__input:focus:valid {
  border: 0.25rem solid #28b485; 
}
  
.form__input::-webkit-input-placeholder {
  color: #999; 
}

.form__label {
  font-family: inherit;
  font-size: 0.93rem;
  padding-left: 0.87rem;
  font-weight: 700;
  margin-top: .43rem;
  display: block;
  transition: all .5s; 
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2.5rem); 
}

.form__radio-group {
  width: 49%;
  display: inline-block; 
}
  
@media only screen and (max-width: 59em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 1rem; 
  } 
}
  
@media only screen and (max-width: 23.43em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 1rem; 
  } 
}

.form__radio-input {
  display: none; 
}

.form__radio-label {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding-left: 1.56rem; 
}

.form__radio-button {
  height: 1.25rem;
  width: 1.25rem;
  border: 4px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0; 
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 0.62rem;
  width: 0.62rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  opacity: 0;
  transition: all .2s; 
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; 
}

.btn, .btn:link, .btn:visited  {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.93rem 2rem;
  display: inline-block;
  /*Margins and Paddings are respected*/
  border-radius: 6.25rem;
  transition: all 0.3s;
  /*This is the initial state for the transform animation on hover and active states*/
  position: relative;
  /*This is the reference for the absolute position of the after pseudo class*/
  font-size: 1rem;
  border: none;
  cursor: pointer; 
}

.btn--blue {
  background-color: var(--primary-color);
  color: #fff; 
}

.btn:hover {
  transform: translateY(-1.5px);
  /*It moves up*/
  box-shadow: 0 0.62rem 1.25rem rgba(0, 0, 0, 0.3);
  /*Offsetx, y, blur, color and opacity*/
  /*Nested inside btn:hover. When we hover, apply the following styles on the after pseudo element:*/ 
}

  .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.8);
  /*It gets bigger*/
  opacity: 0;
  /*So when it gets bigger also fades out*/ 
}

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.5px);
  /*It moves down from the reference*/
  box-shadow: 0 0.31rem 0.62rem rgba(0, 0, 0, 0.4);
  /*Offsetx, y, blur, color and opacity*/ 
}

.btn::after {
  /*Specify the content and display so the element appears*/
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6.25rem;
  position: absolute;
  /*This is to hide the "new btn" behind the real button*/
  top: 0;
  /*This absolute positioning has its reference on the first element with relative positioning, in this case, the btn class, so we can hide it behind*/
  left: 0;
  z-index: -1;
  /*Defines the position when 2 elements are on top of another. I want this to be behind*/
  transition: all .4s; 
}

/* Modal */
.modalContainer {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
  background-color: #050c16;

  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-top: 10px solid #99767671;
  width: 60%;
}
.modalContainer .modal-content>h2 {
  color:#0a498d;
  text-align: center;
}

.modalContainer .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* footer */
.footer {
  width: 100%;
  height: 100px;
  display: grid;
  padding-top: .7rem;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #050c16;
}

.autor {
  text-align: center;
}
.autor p {
  width: 100%;
  font-size: .8rem;
  padding-bottom: .5rem;
}

.redes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.icon {
  height: 24px;
  width: 24px;
}

/* Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1199.98px) {}

/* Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 991.98px) {
  h1 {
    font-size: 3.5rem;
    margin-top: 6rem;
  }
  .hero-parallax {
    background-size: 10.5rem 12rem, 40rem 20rem; /*dimensiones de ambas imagenes*/
  }
  .clientes h1 {
    font-size: 2.5rem;
  }
  .contenedor-testimonios {
    grid-template-columns: 1fr 1fr;
  }
  .contenido {
    display: block;
  }
  h2 {
    font-size: 1.5rem;
  }
  .derecha {
    width: 100vw;
  }
  .izquierda {
    width: 100vw;
  }
}

/* Pantallas peque침as (m칩viles en landscape de menos de 768px) */
@media (max-width: 767.98px) {

  h1 {
    font-size: 2.5rem;
    margin-top: 4rem;
  }

.hero-parallax {
  background-size: 7rem 9rem, 36rem 18rem; /*dimensiones de ambas imagenes*/
}

  .header .nav-bar .nav-bar-full {
    display: none;

  }

  .header .btn-menu {
    display: inline;
    height: 30px;
    width: 30px;
    margin: 6px;
  }

  .menu-mostrar {
    display:inline !important
  }

  .header .btn-menu .menu-opciones {
    display: none;
    height: auto;
    width: 150px;
    position: absolute;
    background-color: grey;
    top: var(--header-height);
    left: 0;
  }
  .menu-opciones nav {
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
  }
  .menu-opciones nav a {
    padding: 1rem;
    border-radius: 1.87rem;
  }
  .menu-opciones nav a:hover {
    background-color: var(--primary-color);
  }

  .faq h1 {
    font-size: 1.5rem;
  }
  .pregunta-header h1 {
    font-size: .9rem;
    padding-bottom: 5px;
  }

  .contenedor-testimonios {
    grid-template-columns: 1fr 1fr;
  }
  .clientes h1 {
    font-size: 2rem;
  }
 
}
/* Pantallas muy peque침as (m칩viles en portrait de menos de 576px) */

@media (max-width: 575.98px) {
  .hero-parallax {
    background-size: 4rem 6rem, 20rem 9rem; /*dimensiones de ambas imagenes*/
  }

  .izquierda {
    align-items: center;
    text-align: justify;
    gap: 0;
    margin: 0;
    padding: 1rem;
    width: 100%;
  }
  
  h2 {
    font-size: 1.5rem;
    padding-bottom: .9rem;
    text-align: center;
  }
  
  p {
    font-size: 1rem;
    width: 100%;
    line-height: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
  }
  
  .derecha {
    background-size: auto;
    margin:.1rem;
    width: 100%;
    overflow: hidden;
  }
  
  .imagen {
    height: auto;
    width: 100%; /*44.5rem;*/
  }

  .btn, .btn:link, .btn:visited  {
    padding: 0.5rem .9rem;
    margin: .5rem 0 .5rem 0;
  }

  .clientes h1 {
    font-size: 1.5rem;
  }
  .contenedor-testimonios {
    grid-template-columns: 1fr;
  }
  .footer {
    grid-template-columns: 1fr;
    height: 300px;

  }
}

