:root {
  --white: #fff;
  --primary-color: #178395;
  --secondary-color: #050c16;
  --header-height: 55px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 120rem;
}

/* Header */
.header {
  height: var(--header-height);
  background-color: #75757571;
  text-align: center;
  top: 0;
  position: sticky;
}

.logo {
  height: 2.75rem;
  width: 12.75rem;
  padding: 0.3rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem;
  background-color: grey;
}

.header nav {
  /* padding: 1rem; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}
.header nav a {
  padding: 1rem;
  border-radius: 1.87rem;
}
.header nav a:hover {
  background-color: var(--primary-color);
}

/*Seccion Hero arranca*/
.hero-section {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #75757571;
  margin-bottom: 0.5rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4.5rem;
  color: #ffffff;
  margin-top: 8rem;
}

.blob {
  height: 17rem; /*17rem = 272px*/
  width: 14rem; /*14rem = 224px*/
}

.team {
  height: 24.19rem; /*24rem = 387px*/
  width: 47.125rem; /*47rem = 754px*/
}

.hero-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-parallax {
  height: 100vh;
  background-image: url("images/blob.png"), url("images/hero-team.png");
  background-position: left bottom, right bottom; /*simula hero-images*/
  background-size: 14rem 17rem, 47.125rem 24.19rem; /*dimensiones de ambas imagenes*/
  background-repeat: no-repeat; /*la imagen de fondo no se repite tipo mosaico*/
  background-attachment: fixed; /*fijo la imagen de fondo*/
}

/*Seccion Hero termina*/

/* marcador ayuda a posicionar la seccion con el desfasaje segun el navbar */
.marcador {
  position: relative;
  top: calc(-1 * var(--header-height) - 10px);
}

.acerca {
  margin-bottom: 0.5rem;
  background-color: var(--secondary-color);
}

.contenido {
  display: flex;
}

.izquierda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  gap: 1.5rem;
  margin: 2rem 1rem 1rem 1rem;
  width: 50vw;
}

h2 {
  color: #ffffff;
  font-size: 2rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

p {
  color: var(--white);
  font-size: 1rem;
  width: 90%;
  font-weight: 500;
  line-height: 1.5rem;
}

.derecha {
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  overflow: hidden;
}

.imagen {
  height: 29.5rem;
  width: 44.5rem;
}

.servicios {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.empresa {
  width: 100%;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
}
.empresa article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.empresa article p {
  font-size: 2rem;
}

/* Clientes Realiza Fernando */
.clientes {
  width: 100%;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
  background-color: #050c16;
}

.contenedor-testimonios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin:auto;
}
.testimonio {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  width: 144px;
  height: 144px;
  border-radius: 100px;
}
.codoacodo {
  background: url("images/logo-cac.png");
  background-repeat: no-repeat;
  background-size:cover ; 
  background-position-x: -310px;

}
.google {
  background: url("images/logo-google.png");
  background-position-x: -80px;
  background-position-y: -10px;
}
.github {
  background: url("images/logo-github.png");
  background-repeat: no-repeat;
  background-size:cover ; 
  background-position-y: -2px;
}
.testimonio-texto {
  padding: 1rem .5rem;
  color: var(--white);
  min-height: 130px;
  font-size: .8rem;
  font-weight: 500;
}
.testimonio-compania {
  padding: 1rem .5rem;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
}
.testimonio-link {
  color:var(--primary-color);
  font-size: .6rem;
  padding-bottom: .3rem;
}
.testimonio-link:hover {
  color:red;
}
/* Servicios Realiza XXXXXXXXX */
.servicios {
  width: 100%;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
}
.servicios article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.servicios article p {
  font-size: 2rem;
}

/* FAQ Realiza Fernando */
.faq {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-color: yellowgreen;
}
.faq article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.faq article p {
  font-size: 2rem;
}

/* Contactos Realiza XXXXXXXXX */
.contactos {
  width: 100%;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
}
.contactos article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contactos article p {
  font-size: 2rem;
}
